/* Add some basic styling for the conversation container */
#conversationContainer {
  background-color: rgb(138, 214, 138);
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}
/* Style individual messages */
.message {
  margin-bottom: 10px;
}
.gemini-message{
  background-color: #fff;
  border-radius: 10px;
}
.user-message{
  background-color: rgb(97, 241, 241);
  border-radius: 10px;
  text-align: left;
}
.btn-group .btn{
  font-size: 12px;
}
