.journal-entry {
    background-color: #f0f0f0; /* Gray background for journal entries */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

button.btn {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#journal-entries{
    overflow-x: auto;
}

.dots{
    display: inline;
}
.more{
    display: none;
}
.journal-entry{
    background-color: #DAF0DB;
    border-radius: 10px;
}
#time{
    color: #2B5900;
}